* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scrollbar-width: none;
}

header {
    font-family: "Nozhik";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 0 11%;
    z-index: 99999;
}

header .logo {
    font-size: 50px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    transition: .5s;
}

header .logo:hover {
    transform: scale(1.2);
}

header nav ul{
    display: flex;
}

header nav ul li{
    position: relative;
}

header nav ul li a {
    padding: 15px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    display: block;
}

header nav ul li a:hover {
    background: black;
    color: white;
}

header nav ul li a.active {
    background: black;
    color: white;
}

.dropdown {
    display: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    white-space: nowrap;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    color: black;
    font-size: 24px;
}

.dropdown-content a:hover {
    background-color: black;
}

.switch {
    left:5px;
    top: 12px;
    position: relative;
    display: block;
    width: 70px;
    height: 34px;
  }
  
.switch input {display:none;}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #879bf7;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 55px;
width: 50px;
left: -11px;
bottom: -11px;
background-image: url(/static/icon/RusIcon.png);
background-size:cover;
background-repeat: no-repeat;
transition: .4s;
}
  
.slider span:before {
    position: absolute;
    display: inline-block;
    font-size: 20px;
    left: 65%;
    top: 20%;
    transition: .4s;
}

  input:checked + .slider {
    background-color: #e24a45;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #e24a45;
  }
  
  input:checked + .slider:before {
    transform: translateX(36px);
    background-image: url(/static/icon/EngIcon.png);
  }

input:checked + .slider span:before {
    content: "En";
    transform: translateX(-35px);
}

input:not(:checked) + .slider span:before {
    content: "Ru";
}
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Медиа-запрос для адаптивности */
@media (max-width: 1075px) {
    header {
        padding: 0 5%;
    }

    header nav ul li:not(:last-child) {
        display: none;
    }

    header .logo {
        font-size: 40px;
    }

    .dropdown {
        display: block;
        cursor: pointer; /* Добавляем курсор указателя для элемента .dropdown */
    }

    .dropdown:hover .dropdown-content {
        display: block; /* Показываем .dropdown-content при наведении на .dropdown */
    }
    .dropdown-content {
        right: 0; /* При нехватке места справа открываем выпадающий список вправо */
    }

    .switch{
        top: 19px;
        left: 0;
    }
}

@media (max-width: 350px){
    header .logo {
        font-size: 30px;
    }
}

@font-face {
    font-family: "Nozhik"; 
    src: url("../fonts/Nozhik-Bold.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 