body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(21, 21, 21);
}

.contacts-container{
    margin-top: 13em;
    margin-left: 16em;
    margin-right: 35em;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "Nozhik";
}
.contact {
    display: flex;
    align-items: center;
    gap: 1em;
    transition: .5s;
}

.contact img{
    width: 14%;
}

h2 {
    font-size: 4em;
}

.contact:hover{
    transform: scale(1.2);
    cursor: pointer;
}

@media (max-width: 1325px) {
    .contacts-container{
        margin-left: 10em;
        margin-right: 25em;
    }
}
@media (max-width: 900px) {
    .contacts-container{
        margin-left: 8em;
        margin-right: 15em;
    }
  }
  @media (max-width: 600px) {
    .contacts-container{
        margin-left: 4em;
        margin-right: 5em;
    }
  }